{% extends "__layout.twig" %}
{% from "/macros/btn.twig" import btn as btn %}


{% block content %}
    
<div class=" d-inline-flex " style="border: 1px solid gray; padding:5px; margin-left:25px;">
    {{description}}
</div> 

    <div style="margin-left: 25px;">
            <ul class="nav nav-pills" style="margin-top: 25px;">
                
                <li class=" d-flex flex-row">
                    

                    {{ btn("Картинка", "/heroes_tf/"~id~"/image", is_image) }}
                     {{ btn("Описание", "/heroes_tf/"~id~"/info", is_info) }}
                     {# {{ btn("Картинка", "/heroes_tf/"~id~"?show=image", is_image) }}
                     {{ btn("Описание", "/heroes_tf/"~id~"?show=info", is_info) }} #}
                </li>
            </ul>
        
    </div>

    {% block objectContent %}
        
    {% endblock %}


{% endblock %}